 .App {
  text-align: center;

  background-color: aquamarine;
 
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .hell{
  border:2px solid black;
  border-radius: 10px;
  width: 400px;
  align-items: center;
  justify-content: center;
  
  
  
} */


input{
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
  margin-bottom: 10px;
} 
.btn{
  position: relative;
  width: 222px;
  height: 30px;
  padding-top: 10px;
  padding: .375rem .75rem;
  font-size: 1rem;
  background-color: rgb(51, 57, 57)3);
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: #495057;
}